@CHARSET "UTF-8";
/* Required css - needed for work
 * You overwrite own styles in "style.css" in the theme folder
 * 
 * Copy and paste the class you wan't cange into the "style.css"
**/

/* Styles for links, images and other */
a:link {
	text-decoration: none;
	color: #333333;
}
a:visited {
	text-decoration: none;
	color: #333333;
}
a:hover {
	text-decoration: none;
	color: #999999;
}
.mv_loading {
	background: transparent url(themes/default/images/loading.gif) no-repeat scroll center center;
}

/* Styles for Viewer */
.mumbleviewer {
	min-width: 180px;
	max-width: 240px;
	height: auto;
	border: 1px solid #555555;
	padding: 5px;
	background: transparent url(themes/default/images/background.png) repeat-y scroll 0 0;
}
.div_server {
	padding: 0px 5px 5px 5px;
	text-align: center;
	border-bottom: 1px solid #555555;
	margin-bottom: 5px;
}
.text_server {
	font: small-caps 16px Verdana, Arial, Helvetica, sans-serif;
	color: #333333;
	vertical-align: middle;
}
.div_clear {
	clear: left;
}
.div_space {
	float: left;
	width: 20px;
}
.div_serverspace {
	padding: 3px;
}
.image {
	vertical-align: middle;
	padding: 0px 5px 0px 0px;
	height: 20px;
	width: 16px;
}

/* Styles for Up and Down arrows - for parameter: &height=### */
#mv {
	width: 240px;
}
#scrollbar {
	height: 14px;
	background: transparent url(themes/default/images/back1.gif) repeat scroll 0 0;
}
#up {
	height: 14px;
	background: transparent url(themes/default/images/scrollarrowup.png) no-repeat scroll center;
	cursor: pointer;
}
#down {
	height: 14px;
	background: transparent url(themes/default/images/scrollarrowdown.png) no-repeat scroll center;
	cursor: pointer;
}

/* Styles for Panel - for parameter: &panel=1 */
.mv_panel {
	border-bottom: 1px solid #555555;
	margin-bottom: 5px;
	margin-top: -5px;
	height: 25px;
}
.mumbleviewer .open_all {
	float: left;
	padding: 0px 4px 0px 2px;
	cursor: pointer;
}
.mumbleviewer .refresh {
	float: left;
	padding: 0px 4px 0px 2px;
	cursor: pointer;
}
.mumbleviewer .uregister {
	float: left;
	padding: 0px 4px 0px 2px;
	cursor: pointer;
}

/* Styles for Tree elements */
.tree_line {
	background: transparent url(themes/default/images/list_tree_line.gif) no-repeat scroll 0 0;
}
.tree_mid {
	background: transparent url(themes/default/images/list_tree_mid.gif) no-repeat scroll 0 0;
}
.tree_end {
	background: transparent url(themes/default/images/list_tree_end.gif) no-repeat scroll 0 0;
}
.list_empty {
	background: transparent url(themes/default/images/list_tree_empty.gif) no-repeat scroll 0 0;
}
.tree_plus {
	background: transparent url(themes/default/images/list_tree_plus.gif) no-repeat scroll 0 0;
}
.tree_minus {
	background: transparent url(themes/default/images/list_tree_minus.gif) no-repeat scroll 0 0;
}
.tree_plus_end {
	background: transparent url(themes/default/images/list_tree_plus_end.gif) no-repeat scroll 0 0;
}
.tree_minus_end {
	background: transparent url(themes/default/images/list_tree_minus_end.gif) no-repeat scroll 0 0;
}
.pfeil {
	cursor: pointer;
}

/* Styles for Footer */
#mv_footer {
	padding: 5px 5px 0px 5px;
	text-align: center;
	border-top: 1px solid #555555;
}
.text_footer {
	font: normal 9px Verdana, Arial, Helvetica, sans-serif;
	color: #888888;
	vertical-align: middle;
	/*width: 150px;*/
	text-align:center;
}

/* Styles for Channels */
.div_channel {
	white-space: nowrap;
	overflow: hidden;
	background: transparent url(themes/default/images/channel.png) no-repeat scroll 0 0;
	padding-left: 21px;
	height: 20px;
	font: bold 11px Verdana, Arial, Helvetica, sans-serif;
	color: #333333;
	vertical-align: middle;
	line-height: 16px;
}

/* Styles for User */
.div_user {
	float: none;
	white-space: nowrap;
	min-width: 10px;
	max-width: 170px;
	overflow: hidden;
	background: transparent url(themes/default/images/talking_on.png) no-repeat scroll 0 0;
	padding-left: 20px;
	height: 20px;
	font: normal 11px Verdana, Arial, Helvetica, sans-serif;
	color: #333333;
	vertical-align: middle;
	line-height: 14px;
}
.user_name {
	float: left;
	padding-right: 6px;
}
/* User status flags */
.userstatus_flags {
	vertical-align: middle;
	padding: 0 0 0 3px;
	height: 16px;
	width: 16px;
	float: left;
}
.userstatus_flags_authenticated {
	background: transparent url(themes/default/images/authenticated.png) no-repeat scroll 0 0;
}
.userstatus_flags_muted_local {
	background: transparent url(themes/default/images/muted_local.png) no-repeat scroll 0 0;
}
.userstatus_flags_muted_server {
	background: transparent url(themes/default/images/muted_server.png) no-repeat scroll 0 0;
}
.userstatus_flags_deafened_server {
	background: transparent url(themes/default/images/deafened_server.png) no-repeat scroll 0 0;
}
.userstatus_flags_muted_self {
	background: transparent url(themes/default/images/muted_self.png) no-repeat scroll 0 0;
}
.userstatus_deafened_self {
	background: transparent url(themes/default/images/deafened_self.png) no-repeat scroll 0 0;
}
/* User Tooltip flags */
.stats_online {
	background: transparent url(themes/default/images/stats_online_time.png) no-repeat scroll 0 0;
	padding-left: 20px;
	height: 20px;
	padding-top: 2px;
}
.stats_visitor {
	background: transparent url(themes/default/images/stats_visitor.png) no-repeat scroll 0 0;
	padding-left: 20px;
	height: 20px;
	padding-top: 4px;
}


/* JS-Scrollbars  - for parameter: &fxscroll=1 */
.jScrollPaneContainer {
	position: relative;
	overflow: hidden;
	z-index: 1;
}
.jScrollPaneTrack {
	position: absolute;
	cursor: pointer;
	right: 0;
	top: 0;
	height: 100%;
	background: #AAAAAA;
}
.jScrollPaneDrag {
	position: absolute;
	background: #666666;
	cursor: pointer;
	overflow: hidden;
}
.jScrollPaneDragTop {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}
.jScrollPaneDragBottom {
	position: absolute;
	bottom: 0;
	left: 0;
	overflow: hidden;
}
a.jScrollArrowUp {
	display: block;
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	text-indent: -2000px;
	overflow: hidden;
	/*background-color: #666666;*/
	height: 9px;
}
a.jScrollArrowUp:hover {
	/*background-color: #FF6600;*/
}
a.jScrollArrowDown {
	display: block;
	position: absolute;
	z-index: 1;
	bottom: 0;
	right: 0;
	text-indent: -2000px;
	overflow: hidden;
	/*background-color: #666666;*/
	height: 9px;
}
a.jScrollArrowDown:hover {
	/*background-color: #FF6600;*/
}
a.jScrollActiveArrowButton, a.jScrollActiveArrowButton:hover {
	/*background-color: #FF0000;*/
}

/* user reg form */


/*********
/* cluetips */
/*******/

/* global */
#cluetip-close img {
	border: 0;
}
#cluetip-title {
	overflow: hidden;
}
#cluetip-title #cluetip-close {
	float: right;
	position: relative;
}
#cluetip-waitimage {
	width: 43px;
	height: 11px;
	position: absolute;
	background-image: url(themes/default/images/wait.gif);
}
.cluetip-arrows {
	display: none;
	position: absolute;
	top: 0;
	left: -11px;
	height: 22px;
	width: 11px;
	background-repeat: no-repeat;
	background-position: 0 0;
}
#cluetip-extra {
	display: none;
}

/***************************************
   =cluetipClass: 'default' 
-------------------------------------- */
.cluetip-default {
	background-color: #D9D9C2;
	font-size: 11px;
}
.cluetip-default #cluetip-outer {
	position: relative;
	margin: 0;
	background-color: #E1E1E1;
}
.cluetip-default h3#cluetip-title {
	margin: 0 0 0px;
	padding: 6px 28px 4px;
	font-size: 12px;
	font-weight: bold;
	background: #C0C0C0 url(themes/default/images/stats_header.png) no-repeat scroll 5px 4px;
	color: #333333;
	border-bottom: 1px solid #A2A2A2;
}
.cluetip-default #cluetip-title a {
	color: #D9D9C2;
	font-size: 10px;
}
.cluetip-default #cluetip-inner {
	padding: 5px;
}
.cluetip-default div#cluetip-close { 
	text-align: right;
	margin: 0 5px 5px;
	color: #990000;
}
/* default arrows */
.clue-right-default .cluetip-arrows {
	background-image: url(themes/default/images/darrowleft.gif);
}
.clue-left-default .cluetip-arrows {
	background-image: url(themes/default/images/darrowright.gif);
	left: 100%;
	margin-right: -11px;
}
.clue-top-default .cluetip-arrows {
	background-image: url(themes/default/images/darrowdown.gif);
	top: 100%;
	left: 50%;
	margin-left: -11px;
	height: 11px;
	width: 22px;
}
.clue-bottom-default .cluetip-arrows {
	background-image: url(themes/default/images/darrowup.gif);
	top: -11px;
	left: 50%;
	margin-left: -11px;
	height: 11px;
	width: 22px;
}

/***************************************
   =cluetipClass: 'jtip'
-------------------------------------- */
.cluetip-jtip {
	background-color: transparent;
}
.cluetip-jtip #cluetip-outer {
	border: 2px solid #CCCCCC;
	position: relative;
	background-color: #FFFFFF;
}
.cluetip-jtip h3#cluetip-title {
	margin: 0 0 5px;
	padding: 2px 5px;
	font-size: 16px;
	font-weight: normal;
	background-color: #CCCCCC;
	color: #333333;
}
.cluetip-jtip #cluetip-inner {
	padding: 0 5px 5px;
	display: inline-block;
}
.cluetip-jtip div#cluetip-close {
	text-align: right;
	margin: 0 5px 5px;
	color: #990000;
}
/* jtip arrows */
.clue-right-jtip .cluetip-arrows {
	background-image: url(themes/default/images/arrowleft.gif);
}
.clue-left-jtip .cluetip-arrows {
	background-image: url(themes/default/images/arrowright.gif);
	left: 100%;
	margin-right: -11px;
}
.clue-top-jtip .cluetip-arrows {
	background-image: url(themes/default/images/arrowdown.gif);
	top: 100%;
	left: 50%;
	margin-left: -11px;
	height: 11px;
	width: 22px;  
}
.clue-bottom-jtip .cluetip-arrows {
	background-image: url(themes/default/images/arrowup.gif);
	top: -11px;
	left: 50%;
	margin-left: -11px;
	height: 11px;
	width: 22px;
}

/***************************************
   =cluetipClass: 'rounded'
-------------------------------------- */
.cluetip-rounded {
	background: transparent url(themes/default/images/bl.gif) no-repeat 0 100%;
	margin-top: 10px;
	margin-left: 12px;
}
.cluetip-rounded #cluetip-outer {
	background: transparent url(themes/default/images/tl.gif) no-repeat 0 0;
	margin-top: -12px;
}
.cluetip-rounded #cluetip-title {
	background-color: transparent;
	padding: 12px 12px 0;
	margin: 0 -12px 0 0;
	position: relative;
}
.cluetip-rounded #cluetip-extra {
	position: absolute;
	display: block;
	background: transparent url(themes/default/images/tr.gif) no-repeat 100% 0;
	top: 0;
	right: 0;
	width: 12px;
	height: 30px;
	margin: -12px -12px 0 0;
}
.cluetip-rounded #cluetip-inner {
	background: url(themes/default/images/br.gif) no-repeat 100% 100%;
	padding: 5px 12px 12px;
	margin: -18px -12px 0 0;
	position: relative;
}
.cluetip-rounded div#cluetip-close { 
	text-align: right;
	margin: 0 5px 5px;
	color: #000099;
	background: transparent;
}
.cluetip-rounded div#cluetip-close a {
	color: #777777;
}
/* rounded arrows */
.clue-right-rounded .cluetip-arrows {
	background-image: url(themes/default/images/rarrowleft.gif);
}
.clue-left-rounded .cluetip-arrows {
	background-image: url(themes/default/images/rarrowright.gif);
	left: 100%;
	margin-left: 12px;
}
.clue-top-rounded .cluetip-arrows {
	background-image: url(themes/default/images/rarrowdown.gif);
	top: 100%;
	left: 50%;
	margin-left: -11px;
	height: 11px;
	width: 22px;
}
.clue-bottom-rounded .cluetip-arrows {
	background-image: url(themes/default/images/rarrowup.gif);
	top: -23px;
	left: 50%;
	margin-left: -11px;
	height: 11px;
	width: 22px;
}

/* stupid IE6 HasLayout hack */
.cluetip-rounded #cluetip-title,
.cluetip-rounded #cluetip-inner {
	zoom: 1;
}
