@CHARSET "UTF-8";
/* style.css - Theme: default
**/

/* Styles for links, images and other */
a:link {
	color: #333333;
}
a:visited {
	color: #333333;
}
a:hover {
	color: #999999;
}

/* Styles for Viewer */
.mumbleviewer {
	min-width: 180px;
	max-width: 240px;
	border: 1px solid #555555;
	padding: 5px;
	background: transparent url(images/background.png) repeat-y scroll 0 0;
}
.text_server {
	font: small-caps 16px Verdana, Arial, Helvetica, sans-serif;
	color: #333333;
	vertical-align: middle;
}

/* Styles for Up and Down arrows - for parameter: &height=### */
#mv {
	width: 240px;
}
#scrollbar {
	height: 14px;
	background: transparent url(images/back1.gif) repeat scroll 0 0;
}
#up {
	height: 14px;
	background: transparent url(images/scrollarrowup.png) no-repeat scroll center;
	cursor: pointer;
}
#down {
	height: 14px;
	background: transparent url(images/scrollarrowdown.png) no-repeat scroll center;
	cursor: pointer;
}

/* Styles for Panel - for parameter: &panel=1 */
.mv_panel {
	border-bottom: 1px solid #555555;
	margin-bottom: 5px;
	margin-top: -5px;
	height: 25px;
}
.mumbleviewer .open_all {
	float: left;
	padding: 0px 4px 0px 2px;
	cursor: pointer;
}
.mumbleviewer .refresh {
	float: left;
	padding: 0px 4px 0px 2px;
	cursor: pointer;
}
.mumbleviewer .uregister {
	float: left;
	padding: 0px 4px 0px 2px;
	cursor: pointer;
}

/* Styles for Tree elements */
.tree_line {
	background: transparent url(images/list_tree_line.gif) no-repeat scroll 0 0;
}
.tree_mid {
	background: transparent url(images/list_tree_mid.gif) no-repeat scroll 0 0;
}
.tree_end {
	background: transparent url(images/list_tree_end.gif) no-repeat scroll 0 0;
}
.tree_plus {
	background: transparent url(images/list_tree_plus.gif) no-repeat scroll 0 0;
}
.tree_minus {
	background: transparent url(images/list_tree_minus.gif) no-repeat scroll 0 0;
}
.tree_plus_end {
	background: transparent url(images/list_tree_plus_end.gif) no-repeat scroll 0 0;
}
.tree_minus_end {
	background: transparent url(images/list_tree_minus_end.gif) no-repeat scroll 0 0;
}

/* Styles for Footer */
#mv_footer {
	padding: 5px 5px 0px 5px;
	text-align: center;
	border-top: 1px solid #555555;
}
.text_footer {
	font: normal 9px Verdana, Arial, Helvetica, sans-serif;
	color: #888888;
	vertical-align: middle;
	/*width: 150px;*/
}

/* Styles for Channels */
.div_channel {
	background: transparent url(images/channel.png) no-repeat scroll 0 0;
	padding-left: 21px;
	height: 20px;
	font: bold 11px Verdana, Arial, Helvetica, sans-serif;
	color: #333333;
	line-height: 16px;
}

/* Styles for User */
.div_user {
	float: none;
	min-width: 10px;
	max-width: 170px;
	background: transparent url(images/talking_on.png) no-repeat scroll 0 0;
	padding-left: 20px;
	height: 20px;
	font: normal 11px Verdana, Arial, Helvetica, sans-serif;
	color: #333333;
	line-height: 14px;
}
.user_name {
	float: left;
	padding-right: 6px;
}
/* User status flags */
.userstatus_flags {
	padding: 0 0 0 3px;
	height: 16px;
	width: 16px;
	float: left;
}
.userstatus_flags_authenticated {
	background: transparent url(images/authenticated.png) no-repeat scroll 0 0;
}
.userstatus_flags_muted_local {
	background: transparent url(images/muted_local.png) no-repeat scroll 0 0;
}
.userstatus_flags_muted_server {
	background: transparent url(images/muted_server.png) no-repeat scroll 0 0;
}
.userstatus_flags_deafened_server {
	background: transparent url(images/deafened_server.png) no-repeat scroll 0 0;
}
.userstatus_flags_muted_self {
	background: transparent url(images/muted_self.png) no-repeat scroll 0 0;
}
.userstatus_deafened_self {
	background: transparent url(images/deafened_self.png) no-repeat scroll 0 0;
}
/* User Tooltip flags */
.stats_online {
	background: transparent url(images/stats_online_time.png) no-repeat scroll 0 0;
	padding-left: 20px;
	height: 20px;
	padding-top: 2px;
}
.stats_visitor {
	background: transparent url(images/stats_visitor.png) no-repeat scroll 0 0;
	padding-left: 20px;
	height: 20px;
	padding-top: 4px;
}


/* JS-Scrollbars  - for parameter: &fxscroll=1 */
.jScrollPaneTrack {
	cursor: pointer;
	background: #AAAAAA;
}
.jScrollPaneDrag {
	background: #666666;
	cursor: pointer;
}
a.jScrollArrowUp {
	/*background-color: #666666;*/
	height: 9px;
}
a.jScrollArrowUp:hover {
	/*background-color: #FF6600;*/
}
a.jScrollArrowDown {
	/*background-color: #666666;*/
	height: 9px;
}
a.jScrollArrowDown:hover {
	/*background-color: #FF6600;*/
}
a.jScrollActiveArrowButton, a.jScrollActiveArrowButton:hover {
	/*background-color: #FF0000;*/
}

/* user reg form */


/*********
/* cluetips */
/*******/

/***************************************
   =cluetipClass: 'default' 
-------------------------------------- */
.cluetip-default {
	background-color: #D9D9C2;
	font-size: 11px;
}
.cluetip-default #cluetip-outer {
	background-color: #E1E1E1;
}
.cluetip-default h3#cluetip-title {
	margin: 0 0 0px;
	padding: 6px 28px 4px;
	font-size: 12px;
	font-weight: bold;
	background: #C0C0C0 url(images/stats_header.png) no-repeat scroll 5px 4px;
	color: #333333;
	border-bottom: 1px solid #A2A2A2;
}
.cluetip-default #cluetip-title a {
	color: #D9D9C2;
	font-size: 10px;
}
.cluetip-default #cluetip-inner {
	padding: 5px;
}
.cluetip-default div#cluetip-close { 
	text-align: right;
	margin: 0 5px 5px;
	color: #990000;
}
